.container{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.item{
    background-color: aqua;
    padding: 10px;
    text-align: center;
}

.item-1{
    background-color: blanchedalmond;
    font-weight: bold;
}

.item-7{
    background-color: black;
    color: white;
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: span 3;
}
.item-1{
    justify-self: end;
}